<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plannit - Admin</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Plannit - Admin View</h1>
        <a href={{ logout_url }}>Log Out</a>
        <h3>User Service</h3>
        <li><a href={{ user_list_url }}>User List</a></li>
        <li><a href={{ create_user_url }}>Create User</a></li>
        <h3>Day Service</h3>
        <li><a href={{ day_list_url }}>Day List</a></li>
        <li><a href={{ create_day_url }}>Create Day</a></li>
        <h3>Event Service</h3>
        <li><a href={{ event_list_url }}>Event List</a></li>
        <li><a href={{ create_event_url }}>Create Event</a></li>
        <h3>Planner Service</h3>
        <p>editing is unnecessary</p>
        <!-- <li><a href={{ planner_list_url }}>Planner List</a></li>
        <li><a href={{ create_planner_url }}>Create Planner</a></li> -->
    </body>
</html>