<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plannit - Create Event</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body class="create_event_body">
        <body class="share_planner_body">
            <div class="sidebar">
                <i class='bx bx-planet' ></i>
                <p class="title">Plannit</p> 
                <p class="line"></p>
                <div class="side_buttons">
                    <a href="{{ url_for('index') }}" class="home">Home</a>
                    <a href="#" class="create" style="background-color:#23acda; border: 2px solid white;">Create Event</a>
                    <a href="{{ share_planner_url }}" class="friends">Share Planner</a>
                    <a href="{{ friends_planner_url }}" class="friends-list">Friends</a>
                    
                </div>
            </div>
            
            <div class="header">
                <div class="info">
                    <a href={{ url_for('user_routes.user', username=current_user.id) }} class="settings">Settings</a>
                    <a href={{ url_for('user_routes.logout') }} class="logout">Logout</a>
                </div>
            </div>

        <div class="add_friends">
            <div class="add"><h3>Create Event</h3></div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li class="flash-message">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            
            <div class="event_creation">
                <form action="{{ url_for('event_routes.create_event') }}" method="POST">
                    <label for="title">Title:</label><br>
                    <input type="text" id="title" name="title"><br><br>
                    <label for="day">Day:</label><br>
                    <select id="day" name="day">
                        <option value="" disabled selected>Select a Day</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select><br><br>
                    <label for="time">Time:</label><br>
                    <input type="time" id="time" name="time"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
    </body>
</html>




