<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Plannit - Day Data</title>
        <meta charset="utf-8">
        <style>
            .flash-message{
                color: red;
            }
        </style>
    </head>
    <body>
        <a href="{{ url_for('index') }}">Home</a>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flash-message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        <h1>Day Settings</h1>
        <h2>Current Information for {{ day.get('day_name') }}</h3>
        <p> Events:</p>
        <ul>
            {% for event in day.get('event_id_list') %}
                <li>{{event}}</li>
            {% endfor %}
        </ul>
        <p>Planner ID: {{ day.get('planner_id') }}</p>
        <h3>Day Actions</h3>
        <a href="{{ url_for('day_routes.update_day', _id=day.get('_id')) }}">Update Day</a>
            <form method="post" action="{{ url_for('day_routes.delete_day', _id=day.get('_id'))}}">
                <label for="delete">Type 'delete' to Delete This Day</label><br>
                <input type="text" id="delete" name="delete"><br>
                <input type="submit" value="Submit">
            </form><br>
    </body>
</html>