<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plannit - User Data</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>

        <body class="main_body">
            <div class="sidebar">
                <i class='bx bx-planet' ></i>
                <p class="title">Plannit</p> 
                <p class="line"></p>
                <div class="side_buttons">
                    <a href="{{ url_for('index') }}" class="home">Home</a>
                    <a href="{{ create_event_url }}" class="create">Create Event</a>
                    <a href="{{ share_planner_url }}" class="friends">Share Planner</a>
                    <a href="{{ friends_planner_url }}" class="friends-list">Friends</a>
                </div>
            </div>
            
            <div class="header">
                <div class="info">
                    <a href={{ url_for('user_routes.user', username=current_user.id) }} class="settings">Settings</a>
                    <a href={{ url_for('user_routes.logout') }} class="logout">Logout</a>
                </div>
            </div>

            <div class="schedule">
                <div class="user-settings">
                    <h1>User Settings</h1><br><br>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="flash-message">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    
                    <h3>Current Information for {{user.get('username')}}:</h3><br>
                        <div class="data">Username: {{user.get('username')}}<br>
                            Password: {{user.get('password')}}<br>
                            Planner ID: {{user.get('planner_id')}}<br>
                            Friends: {{user.get('friends')}}</div><br><br>
                    <a href="{{ url_for('user_routes.update_user', id=user.get('_id')) }}" class="update-user">Update User</a><br><br>    
                        <form method="post" action="{{ url_for('user_routes.delete_user', id=user.get('_id')) }}">
                            <label for="delete">Type 'delete' to delete this user</label><br>
                            <input type="text" id="delete" name="delete"><br>
                            <input type="submit" value="Submit">
                        </form><br>
                </div>
            </div>
    </body>
</html>